body {
	background-color: hsl(212, 45%, 89%);
	font-family: 'Outfit', sans-serif;

}

.div-holder {
	border-radius: 20px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 20px 44px 0 rgba(0, 0, 0, 0.1);
	text-align: center;
	background-color: hsl(0, 0%, 100%);
	margin: 100px auto;
	width: 18rem;
	height: 28rem;

}

img {
	border-radius: 10px;
	width: 16rem;
	margin-top: 15px;
}

p {
	margin: 15px auto;
	font-size: 15px;
	color: hsl(220, 15%, 55%);
	font-weight: 400;
	width: 80%;
}

h1 {
	margin: 15px auto;
	color: hsl(218, 44%, 22%);
	font-weight: 700;
	font-size: 20px;
	width: 80%;
}


.attribution {
	text-align: center;
}